@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* ロゴ設定 */
@font-face {
  font-family: 'Billabong';
  src: font-url('Billabong.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo-font{
  font-family: 'Billabong';
}
/* ロゴend */

/* 全体設定 */
body {
  background: #f5f5f5;
}

ul{
  list-style: none;
}

.card {
  border-radius: 0;
}
/* 全体 end */

/* rowの行間調整 */
.row-0{
  margin-left:0px;
  margin-right:0px;

  > div{
      padding-right:0px;
      padding-left:0px;
  }
}
.row-10{
  margin-left:-5px;
  margin-right:-5px;

  > div{
      padding-right:5px;
      padding-left:5px;
  }
}
.row-20{
  margin-left:-10px;
  margin-right:-10px;

  > div{
      padding-right:10px;
      padding-left:10px;
  }
}
.row-30{
  margin-left:-15px;
  margin-right:-15px;

  > div{
      padding-right:15px;
      padding-left:15px;
  }
}
.row-40{
  margin-left:-20px;
  margin-right:-20px;

  > div{
      padding-right:20px;
      padding-left:20px;
  }
}
/* row行間調整end */

/* 投稿写真一覧の設定 */
.caption {
  position: relative;
  background: #000;
  overflow: hidden;
}
.caption .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
}
.caption .text p {
  margin: 0;
  color: white;
  font-size: 150%;
}

.caption:hover .text {
  opacity: 1;
}

.caption:hover img {
  opacity: 0.5;
}
/* 投稿写真一覧end */

/* いいねボタン設定 */
.vertical_like {
  text-decoration: none;
  font-size: 150%;
}
/* いいねend */

/* お気に入りボタン設定 */
.vertical_clip {
  text-decoration: none;
  font-size: 150%;
}
/* お気にりend */

/* 写真詳細画面のedit,deleteアイコン設定 */
.photo_edit {
  text-decoration: none;
  font-size: 170%;
}

.photo_delete {
  text-decoration: none;
  font-size: 170%;
}
/* 写真詳細アイコンend */

/* ナビゲーションバー */
.navbar i {
  font-size: 200%;
}

.navbar-nav li {
  margin-left: 20px;
}
/* ナビゲーションバーend */

/* footer設定 */
.footer {
  margin-top: auto;
}

footer p {
  text-align: right;
  padding-right: 20px;
  color: #a0a0a0;
}
/* footer,end */

/* ユーザー編集画面、ユーザー画像欄 begin */
#user_field {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 200px 150px 150px 1fr;
  grid-template-areas:
      "photo user_name   etc     etc"
      "photo user_config contact logout "
}

#user_photo {
  grid-area: photo;
}

#user_name {
  grid-area: user_name;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user_config {
  grid-area: user_config;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#contact_mail {
  grid-area: contact;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#user_logout {
  grid-area: logout;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
}
/* ユーザー編集画面 end */