@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: 'Billabong';
  src: font-url('Billabong.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo-font{
  font-family: 'Billabong';
}

ul{
  list-style: none;
}

.row-0{
  margin-left:0px;
  margin-right:0px;

  > div{
      padding-right:0px;
      padding-left:0px;
  }
}
.row-10{
  margin-left:-5px;
  margin-right:-5px;

  > div{
      padding-right:5px;
      padding-left:5px;
  }
}
.row-20{
  margin-left:-10px;
  margin-right:-10px;

  > div{
      padding-right:10px;
      padding-left:10px;
  }
}
.row-30{
  margin-left:-15px;
  margin-right:-15px;

  > div{
      padding-right:15px;
      padding-left:15px;
  }
}
.row-40{
  margin-left:-20px;
  margin-right:-20px;

  > div{
      padding-right:20px;
      padding-left:20px;
  }
}

.caption {
  position: relative;
  background: #000;
  overflow: hidden;
}
.caption .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
}
.caption .text p {
  margin: 0;
  color: white;
  font-size: 150%;
}
.caption:hover .text {
  opacity: 1;
}
.caption:hover img {
  opacity: 0.5;
}

.vertical_like {
  text-decoration: none;
  font-size: 150%;
}